@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Quattrocento&family=Roboto&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main-container {
    width: 100%;

}

.container {

    width: 80%;
    margin: 0 auto;
    background: #fff;
}



.nav-bar {
    background-color: #333333;
}

.nav-bar ul {
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

.nav-bar ul li {
    list-style: none;
    margin: 0.5rem 0;
}

.nav-bar ul li {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-bar ul li:hover {
    color: yellow;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 600px;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff0f;
    z-index: 1000;
}

.above-finger {
    padding: 10px;
    background-color: #FDE7F9;
    opacity: 1;
    height: 80px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(88, 84, 84, 0.15) !important;
    top: 110px;
    z-index: 100;
    left: 160px;
}

.above-hair {
    padding: 10px;
    background-color: #FDE7F9;
    opacity: 1;
    height: 80px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(88, 84, 84, 0.15) !important;
    top: 210px;
    z-index: 100;
    left: 450px;
}

.above-finger h3,
.above-hair h3 {
    font-weight: 500;
    margin-top: 10px;
}

.above-finger h6,
.above-hair h6 {
    font-weight: 500;
    color: #666;
    text-align: center;
}

.dropdown li {
    color: #333333;
    display: none;
    margin: 10px;
}

.nav-bar ul li:hover>.dropdown li {
    display: block;
}

.input-wrapper input {
    background-color: #fff;
    border: none;
    padding: 1rem;
    width: 25rem;
    font-size: 1rem;
    border-radius: 0.6rem;
    color: #333333;
    box-shadow: 0 0.1rem #dfd9d9;
    cursor: pointer;
}

.input-wrapper input:focus {
    outline: none;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    width: 26rem;
    line-height: 28px;
    padding: 0.5rem 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #333333;
    transition: .3s ease;
    box-shadow: 0 0.1rem #dfd9d9;
}

.input::placeholder {
    color: #9e9ea7;
    letter-spacing: 1px;
}

.input:focus,
input:hover {
    outline: none;
    background-color: #fff;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #120b54;
    width: 1rem;
    height: 1rem;
}

button {
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 1rem;
    align-items: center;
    height: 48px;
    border-radius: 0.2rem;
    font-weight: 600;
    padding: 0 1.2rem;
    color: #fff;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(88, 84, 84, 0.15) !important;
    background: #16b841;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #16b841;

}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #120b54;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.logo img {
    width: 3.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
}

.part {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    width: 100%;

}

.part h1 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.green {
    color: #16b841;
}

.bold {
    font-weight: 700;
}

.part-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.part-2 p {
    color: #666;
    font-size: 0.7rem;
}

.green-underline {
    width: 140px;
    height: 4.5px;
    background: #16b841;
    border-radius: 40px;
    margin-bottom: 20px;
}



.box {
    background-color: #ff978762;
    width: 440px;
    height: 440px;
    border-radius: 40px;
    transform: rotate(5deg);
    position: relative;
    right: 80px;
}

.box img {
    width: 600px;
    position: relative;
    right: 120px;
    top: 40px;
}

.main-content {
    max-width: 550px;
    margin-top: 30px;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #666;
    font-weight: 500;
}

.main-content .buttons {
    display: flex;
    margin-top: 50px;
    font-weight: 500;
}

.green-button,
.white-button {
    padding: 0 25px;
    letter-spacing: 1px;
    transition: 0.3s;
    font-weight: 500;
}

.white-button {
    background-color: #abecf152;
    color: #16b841;
    transition: 0.3s;
    margin-left: 20px;
}

.white-button:hover {
    box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.15) !important;
    letter-spacing: 1.5px;

}

.green-button:hover {
    letter-spacing: 1.5px;
}

.options {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #666;
    display: flex;
    justify-content: space-between;
}


ion-icon {
    font-size: 1.4rem;
    margin-right: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

.item:hover {
    cursor: pointer;
}

.part-2 h1 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    letter-spacing: 1px;

}

.part-2 p {
    font-size: 0.9rem;
    color: #666;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 2.3;
    max-width: 500px;
}

.part2-img img {
    width: 600px;
}

.part2-content {
    max-width: 700px;
    margin-top: 50px;

}

.part2-content .button {
    margin-top: 40px;
    padding: 0 25px;
    letter-spacing: 1px;
    transition: 0.3s;
    font-weight: 500;
}

.part2-content .button:hover {
    letter-spacing: 1.5px;
}

.long {
    width: 370px;
}

.discover {
    padding: 0 5.5rem;
    margin-top: 30px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.discover:hover {
    letter-spacing: 1.5px;
}

.purple-heading {
    background-color: rgb(76, 6, 76);
    text-align: center;
    margin-top: 300px;
    color: #fff;
    margin-bottom: 3rem;
}

.purple-heading h1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 0;
}

.card {
    width: 390px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 70px;
}

.heading-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.heading-part h1 {
    color: #120b54;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-part .live {
    color: red;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.56rem;
    border: 1px solid #666;
    box-shadow: rgba(0, 0, 0, 0.149) 0px 2px 4px, rgba(0, 0, 0, 0.111) 0px 7px 13px -3px, rgba(0, 0, 0, 0.055) 0px 3px 0px inset;
    padding: 4px 12px
}

.date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    max-width: 70%;
}

.date,
.time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #353030;
}

.grey {
    margin-right: 0.2rem;
}

.card-data p {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #625c5c;
    line-height: 1.6;
}

.card button {
    background-color: #24a0ed;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    transition: 0.3s;
}

.card button:hover {
    letter-spacing: 1.3px;
    color: #fff;
    border-radius: 50px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.round-cards {
    display: flex;
}

.round {
    /* background-color: purple; */
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}

.second-purple {
    margin-top: 15px;
}


/* ############### ACORDIAN ####################### */

.acordian {

    margin: 0 auto;
    width: 50%;
    margin-bottom: 200px;
}

.transition,
ul li i:before,
ul li i:after,
p,
.acordian .social-icons {
    transition: all 0.25s ease-in-out;
}

.flipIn,
ul li,
h1 {
    animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (max-width: 550px) {
    body {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}


.acordian h1,
.acordian h2 {
    color: #000000;
}

.acordian h2 {
    font-size: 0.9rem;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.acordian p,
.acordian .social-icons {
    color: #171414;
    font-size: 0.8rem;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    font-weight: 500;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.acordian ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

.acordian ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-bottom: 1px solid #666;
}

.acordian ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.acordian ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.acordian ul li:nth-of-type(3) {
    animation-delay: 1s;
}

.acordian ul li:nth-of-type(4) {
    animation-delay: 1.25s;
}

.acordian ul li:nth-of-type(5) {
    animation-delay: 1.5s;
}

.acordian ul li:nth-of-type(6) {
    animation-delay: 1.75s;
}

.acordian ul li:nth-of-type(7) {
    animation-delay: 2s;
}

.acordian ul li:last-of-type {
    padding-bottom: 0;
}

.acordian ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.acordian ul li i:before,
.acordian ul li i:after {
    content: "";
    position: absolute;
    background-color: #666;
    width: 3px;
    height: 9px;
}

.acordian ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.acordian ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.acordian ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.acordian ul li input[type=checkbox]:checked~p,
.acordian ul li input[type=checkbox]:checked~.social-icons {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.acordian ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.acordian ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

/* ############### ACORDIAN ####################### */

.main-heading {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 1.4rem;
}

.social-icons {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

box-icon {
    margin-right: 0.6rem;
    cursor: pointer;
}

.footer {
    padding: 10px;
    border-top: 1px solid #666;
    box-shadow: 0 4px 4px #666;
    margin-bottom: 40px;
}

.black-button {
    background-color: black;
    margin-left: 10px;
}

.footer-button {
    display: flex;
    align-items: center;
}

.footer-name {
    display: flex;
    justify-content: space-between;
}

/* ############## GOOGLE PLAY ########################### */


a.btn-google {
    color: #fff
}

.btn {
    padding: 10px 16px;
    margin: 5px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-weight: 500;
    text-decoration: none;
    display: inline-block
}

.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn:focus,
.btn:hover,
.bn46:focus,
.bn46:hover {
    color: #333;
    text-decoration: none;
    outline: 0
}

.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-google {
    color: #fff;
    background-color: #111;
    border-color: #000;
    padding: 15px 16px 5px 40px;
    position: relative;
    font-family: fontfutura;
    font-weight: 600
}

.btn-google:focus {
    color: #fff;
    background-color: #555;
    border-color: #000
}

.btn-google:active,
.btn-google:hover {
    color: #fff;
    background-color: #555;
    border-color: #000;
}

.btn-google:before {
    content: "";
    background-image: url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -15px
}

.btn-google:after {
    content: "GET IT ON";
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 10px;
    font-weight: 400;
}


/* ############## GOOGLE PLAY ########################### */

/* ############## AP PLAY ########################### */


a.btn-apple {
    color: #fff
}

.btn {
    padding: 10px 16px;
    margin: 5px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-weight: 500;
    text-decoration: none;
    display: inline-block
}

.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn:focus,
.btn:hover,
.bn46:focus,
.bn46:hover {
    color: #333;
    text-decoration: none;
    outline: 0
}

.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-google,
.btn-apple {
    color: #fff;
    background-color: #111;
    border-color: #000;
    padding: 15px 16px 5px 40px;
    position: relative;
    font-family: fontfutura;
    font-weight: 600
}

.btn-apple:focus {
    color: #fff;
    background-color: #555;
    border-color: #000
}

.btn-apple:active,
.btn-apple:hover,
.btn-google:active,
.btn-google:hover {
    color: #fff;
    background-color: #555;
    border-color: #000;
}

.btn-apple:before {
    content: "";
    background-image: url(./assests/apple.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -15px
}

.btn-apple:after {
    content: "Download on the";
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 10px;
    font-weight: 400;
}


/* ############## APPLE PLAY ########################### */
#map {
    border-left: 2px solid green;
    padding: 7px;
}

#map img {
    width: 600px;
}

.footer-data {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;
}

.home-list {
    margin-right: 50px;
    border-right: 2px solid green;
}

.home-list h4 {
    color: red;
    font-weight: 600;
}

.home-list ul li {
    font-weight: 600;
    color: #4e4343;
    list-style: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 0.7rem;
    flex: 1;
}


.address h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.address li {
    list-style: none;
    color: #4e4343;
    list-style: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
}

.address .timing {
    margin-top: 10px;
}

.address .timing li {
    margin-top: 2px;
}

.address .contact li {
    text-transform: capitalize;
    margin: 25px 0;
}

.address .query li {
    text-transform: none;
}

.career {
    background-color: black;
    padding: 0 50px;
    font-size: 0.9rem;
    margin-top: 50px;
}

.career:hover {
    color: black;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #120b54;
}

.green-box {
    background-color: #16b841;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.pillars {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pillar {
    max-width: 250px;
    margin: 0 75px;
    margin-bottom: 100px;
}

.pillar h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.pillar p {
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2;
}

.green-box box-icon {
    font-weight: 600;
    position: relative;
    left: 4px;
}

.benifits h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.small {
    text-transform: capitalize;
}

.reasons {
    text-align: center;
}

.reasons h2 {
    font-size: 1.7rem;
    margin-bottom: 4rem;

}

.reasons-grp,
.reason {
    display: flex;
    flex-wrap: wrap;

}

.reason {
    margin-right: 40px;
    margin-bottom: 40px;
}

.reasons-grp {
    width: 50%;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.reason-box {
    padding: 10px 20px;
    background-color: rgba(217, 30, 158, 0.541);
    border-radius: 10px;
    height: 50px;
}

.reason-box span {
    color: rgb(81, 2, 81);
    font-weight: 700;
}

.reason h6 {
    font-size: 0.7rem;
    margin-left: 1rem;
    color: #333333;
    text-transform: uppercase;
    max-width: 160px;
}

.reason .red {
    background-color: rgba(255, 0, 0, 0.377);
}

.reason .red span {
    color: red;
}

.reason .purple {
    background-color: rgba(123, 64, 174, 0.511);
}

.reason .purple span {
    color: rgb(47, 2, 82);
}

.reason .blue {
    background-color: rgba(23, 175, 202, 0.385);
}

.reason .blue span {
    color: rgb(3, 108, 113);
}

.reason .orange {
    background-color: rgba(255, 132, 0, 0.377);
}

.reason .orange span {
    color: rgb(205, 61, 5);
}